<h1>About</h1>
<p>
	<em>'afterwritings labs</em>&nbsp;is a place where you can play around with some tools for screenplays written in
	<a href="http://fountain.io/" target="_blank">Fountain format</a>. Don't have any? You can use one of the
	<a class="switch" href="#" plugin="open">samples</a>.</p>
<p>You can use it offline as well (sorry, no Dropbox support for offline version). Just download this
	<a href="afterwriting.zip">file</a>, unzip and double click on index.html.</p>
<p>
	<em>Warning: this product may contain nuts and bugs!</em>
</p>
<h1>What's inside?</h1>
<p>Available plugins:</p>
<ul>
	<li>
		<img src="{{static_path}}gfx/icons/open.svg" />&nbsp;/&nbsp;
		<img src="gfx/icons/save.svg" />&nbsp;
		<em>Open / Save</em>&nbsp;- open a .fountain file from disk, Dropbox or use a sample, save as .fountain or as PDF.</li>
	<li>
		<img src="{{static_path}}gfx/icons/settings.svg" />
		<em>Settings</em>&nbsp;- change paper size, print layout, etc.</li>
	<li>
		<img src="{{static_path}}gfx/icons/editor.svg" />
		<em>Editor</em>&nbsp;- a basic editor for
		<a href="http://fountain.io/" target="_blank">.fountain files</a>
	</li>
	<li>
		<img src="{{static_path}}gfx/icons/preview.svg" />
		<em>Preview</em>&nbsp;- PDF preview (a browser plugin required)</li>
	<li>
		<img src="{{static_path}}gfx/icons/facts.svg" />
		<em>Facts</em>&nbsp;- facts about your screenplay (number of pages, scenes, characters, etc.)</li>
	<li>
		<img src="{{static_path}}gfx/icons/stats.svg" />
		<em>Useless Stats</em>&nbsp;- some statistics, don't take them too serious!</li>
</ul>
<h1>What's next?</h1>
<p>More useful/useless tools to come. Stay tuned and follow
	<a href="http://blog.afterwriting.com" target="_blank">afterwriting blog</a>&nbsp;and
	<a href="http://twitter.com/afterwriting" target="_blank">@afterwriting</a>!</p>
<h1>Contact</h1>
<p>E-mail:
	<a href="mailto:contact@afterwriting.com">contact@afterwriting.com</a>.</p>
<h1>Thanks</h1>
<p>
	<ul>
		<li>Icons from
			<a href="http://www.freepik.com" alt="Freepik.com" title="Freepik.com">Freepik</a>&nbsp;(Daniel Bruce, Icomoon, Yannick, Appzgear)</li>
		<li>Sample scripts:
			<ul>
				<li>
					<em>Big Fish</em>&nbsp;by
					<a href="http://johnaugust.com/" about="_blank">John August</a>
				</li>
				<li>
					<em>Brick & Steel</em>&nbsp;by
					<a href="http://prolost.com/about/" about="_blank">Stu Maschwitz</a>
				</li>
			</ul>
		</li>
		<li>DayRoman font by
			<a href="http://apostrophiclab.pedroreina.net/" target="_blank">Apostrophic Laboratories</a>
		</li>
		<li>JS libs:
			<ul>
				<li>
					<a href="https://github.com/mattdaly/Fountain.js" target="_blank">Fountain.js</a>
				</li>
				<li>
					<a href="https://github.com/eligrey/FileSaver.js" target="_blank">FileSaver.js</a>
				</li>
				<li>
					<a href="http://github.com/jonnyreeves/js-logger" target="_blank">js-logger</a>
				</li>
				<li>
					<a href="http://parall.ax/products/jspdf" target="_blank">jsPDF</a>
				</li>
				<li>
					<a href="http://codemirror.net/" target="_blank">CodeMirror</a>
				</li>
				<li>
					<a href="http://jquery.com/" target="_blank">jQuery</a>
				</li>
				<li>
					<a href="http://handlebarsjs.com/" target="_blank">Handlebars</a>
				</li>
				<li>
					<a href="https://github.com/jrburke/almond" target="_blank">Almond</a>
				</li>
				<li>
					<a href="http://requirejs.org/" target="_blank">RequireJS</a>
				</li>
			</ul>
		</li>
	</ul>
</p>