<h1>About</h1>
<p>
	<em>'afterwritings labs</em>&nbsp;is a place where you can play with some screenwriting tools. You can open screenplays written in <a href="http://fountain.io/" target="_blank"><strong>Fountain format</strong></a> or <a href="http://www.finaldraft.com/" target="_blank"><strong>Final Draft</strong></a> (it will be converted to fountain). You can also use one of the
	<a class="switch" href="#" plugin="open">samples</a>.</p>
<p>You can use it offline too! (sorry, no Dropbox/Google Drive support for offline version). Just download this
	<a href="afterwriting.zip" id="download-link">file</a>, unzip and double click on afterwriting.html.</p>
<p>
	<em>Warning: this product may contain nuts and bugs!</em>
</p>
<p>
<h2>Contact</h2>
<p><a href="http://twitter.com/afterwriting" target="_blank" title="twitter.com/afterwriting"><img src="{{static_path}}gfx/icons/other/twitter.svg" class="icon" />@afterwriting</a></p>
<p><a href="http://blog.afterwriting.com" target="_blank" title="blog.afterwriting.com"><img src="{{static_path}}gfx/icons/other/blogger.svg" class="icon" />blog.afterwriting.com</a></p>
<p><a href="mailto:contact@afterwriting.com" title="contact@afterwriting.com"><img src="{{static_path}}gfx/icons/other/email.svg" class="icon" />contact@afterwriting.com</a></p>
</p>
<h1>What's inside?</h1>
<p>Available plugins:</p>
<ul>
	<li>
		<img src="{{static_path}}gfx/icons/open.svg" class="plugin-icon" />&nbsp;/&nbsp;
		<img src="gfx/icons/save.svg" class="plugin-icon" />&nbsp;
		<em>Open / Save</em>&nbsp;- open a .fountain or .fdx file from disk, Dropbox or use a sample, save as .fountain or as PDF.</li>
	<li>
		<img src="{{static_path}}gfx/icons/settings.svg" class="plugin-icon" />
		<em>Settings</em>&nbsp;- change paper size, print layout, etc.</li>
	<li>
		<img src="{{static_path}}gfx/icons/editor.svg" class="plugin-icon" />
		<em>Editor</em>&nbsp;- a basic editor for
		<a href="http://fountain.io/" target="_blank">.fountain files</a>
	</li>
	<li>
		<img src="{{static_path}}gfx/icons/preview.svg" class="plugin-icon" />
		<em>Preview</em>&nbsp;- PDF preview (a browser plugin required)</li>
	<li>
		<img src="{{static_path}}gfx/icons/facts.svg" class="plugin-icon" />
		<em>Facts</em>&nbsp;- facts about your screenplay (number of pages, scenes, characters, etc.)</li>
	<li>
		<img src="{{static_path}}gfx/icons/stats.svg" class="plugin-icon" />
		<em>Useless Stats</em>&nbsp;- some statistics, don't take them too seriously!</li>
</ul>
<h1>Thanks</h1>
<p>
	<ul>
		<li>Icons from
			<a href="http://www.freepik.com" alt="Freepik.com" title="Freepik.com" target="_blank">Freepik</a>&nbsp;(Daniel Bruce, Icomoon, Yannick, Appzgear)</li>
		<li>Sample scripts:
			<ul>
				<li>
					<em>Brick & Steel</em>&nbsp;by
					<a href="http://prolost.com/about/" target="_blank">Stu Maschwitz</a>
				</li>
				<li>
					<em>My Living Memory</em>&nbsp;&amp;&nbsp;<em>Priting Trouble</em>&nbsp;by
					<a href="http://www.webring.org/l/rd?ring=indepfilm;id=59;url=http%3A%2F%2Fwww%2Ecvisual%2Ecom%2F" target="_blank">Dan Rahmel</a>
				</li>				
			</ul>
		</li>
		<li>DayRoman font by
			<a href="http://apostrophiclab.pedroreina.net/" target="_blank">Apostrophic Laboratories</a>
		</li>
		<li>Courier Prime font by
			<a href="http://quoteunquoteapps.com/courierprime/" target="_blank">Quote-Unquote Apps</a>
		</li>
		<li>JS libs:
			<ul>
				<li>
					<a href="https://github.com/mattdaly/Fountain.js" target="_blank">Fountain.js</a>
				</li>
				<li>
					<a href="https://github.com/eligrey/FileSaver.js" target="_blank">FileSaver.js</a>
				</li>
				<li>
					<a href="http://github.com/jonnyreeves/js-logger" target="_blank">js-logger</a>
				</li>
				<li>
					<a href="http://pdfkit.org/" target="_blank">PDFKit</a>
				</li>
				<li>
					<a href="http://codemirror.net/" target="_blank">CodeMirror</a>
				</li>
				<li>
					<a href="http://jquery.com/" target="_blank">jQuery</a>
				</li>
				<li>
					<a href="http://d3js.org/" target="_blank">d3.js</a>
				</li>
				<li>
					<a href="http://handlebarsjs.com/" target="_blank">Handlebars</a>
				</li>
				<li>
					<a href="https://github.com/jrburke/almond" target="_blank">Almond</a>
				</li>
				<li>
					<a href="http://requirejs.org/" target="_blank">RequireJS</a>
				</li>
				<li>
					<a href="http://www.jstree.com/" target="_blank">jstree</a>
				</li>
				<li>
					<a href="http://trentrichardson.com/Impromptu/" target="_blank">JQuery Impromptu</a>
				</li>
			</ul>
		</li>
	</ul>
</p>
<script>
require(['plugins/info'],function(info){
	$('#download-link').click(info.download_clicked);
});
</script>