<!--- top logo -->
<p class="logo">
	<span class="apostrophe">&rsquo;</span><span class="after">after</span><span class="writing">writing</span>
</p>
<!--- out of content -->
<div id="back" style="opacity:0; width: 100%; height: 100%; position: absolute; top: 0; left: 0"></div>
<!--- main menu -->
<div class="menu" style="display:none">
	<ul class="selector">
		{{#each plugins}} {{#if view}}
		<li class="menu-item {{name}} {{class}}" plugin="{{name}}">
			<img src="{{static_path}}gfx/icons/{{name}}.svg" />
			<span>{{title}}</span>
		</li>{{/if}}{{/each}}</ul>
</div>
<div class="footer"></div>
<!--- plugin content -->
<div class="content" style="display:none">
	<div class="top-bar">
		{{#each plugins}}{{#if view}}
		<img class="tool {{class}}" src="{{static_path}}gfx/icons/{{name}}.svg" plugin="{{name}}" />
		{{/if}}{{/each}}
		<img class="close-content" src="{{static_path}}gfx/icons/close.svg" />
	</div>
	<div class="plugin-contents">
		{{#each plugins}}<div class="plugin-content" plugin="{{name}}">{{{view}}}</div>{{/each}}</div>
</div>
<div id="tooltip"></div>